.entire {
  width: 100%;

  .item {
    border-radius: var(--moments-headshot-borderRadius);
    box-shadow: 0 0 3rem rgba(0, 0, 0, .5);
    overflow: hidden;
    display: flex;
    margin-bottom: calc(var(--moments-zone-gap) * 2);
  }
}