.entire {
  position: fixed;
  inset: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-bgc);
  backdrop-filter: var(--backdrop-filter);
  display: flex;
  justify-content: center;
  align-items: center;
}
.entire .item {
  border-radius: var(--moments-headshot-borderRadius);
  background-color: var(--pop-bgc);
  overflow: hidden;
}
