.feedback {
  --inactive-color: #515254;
  --active-color: #1877f2;
}
.feedback input[type=checkbox] {
  display: none;
}
.feedback input[type=checkbox]:checked ~ label svg {
  color: var(--active-color);
  animation: keyframes-fill var(--transition-type);
}
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) rotate(-10deg);
  }
}
.feedback label {
  display: flex;
  align-items: center;
  gap: var(--ack-gap);
}
.feedback label svg {
  width: var(--action-icon-width);
  color: var(--inactive-color);
  cursor: pointer;
  transition: var(--transition-type);
  -webkit-transition: var(--transition-type);
  -moz-transition: var(--transition-type);
  -ms-transition: var(--transition-type);
  -o-transition: var(--transition-type);
}
.feedback label svg:hover {
  transform: scale(1.3);
}
.feedback.disabled {
  pointer-events: none;
}
.feedback.disabled label svg {
  cursor: default;
}
.feedback.disabled label svg:hover {
  transform: none;
}
